<h1 class="settings-section-title">Library <span><img src="/common/icons/library.svg" width="50" height="50"></span></h1>
<center><p>Here you will find every sound or icon you've uploaded.</p></center>
<button class="save-changes">Save Changes</button>

<h2 id="uploads-0-title">
  Sounds
  <button onclick="universal._Uploads_New(1)">
    Add a Sound
  </button>
</h2>
<details id="library-view-sounds">
  <summary><strong>View Sounds</strong></summary>
  <div class="uploads uploads-0"></div>
</details>

<h2 id="uploads-1-title">
  Icons
  <button onclick="universal._Uploads_New(0)">
    Add a Icon
  </button>
</h2>
<details id="library-view-icons">
  <summary><strong>View Icons</strong></summary>
  <div class="uploads uploads-1"></div>
</details>

<style>
  #library h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #library-view-sounds,
  #library-view-icons {
    width: unset;
  }

  .save-changes {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    margin: 1rem;
  }

  .uploads {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .upload {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--modal-item-text);
    border: 1px solid #000;
    border-radius: var(--main-radius);
    gap: 0.25rem;
    width: min-content;
    height: min-content;
    text-overflow: ellipsis;

    background: var(--modal-item-bg);
    background-size: var(--modal-item-bg-size);
    animation: var(--modal-item-bg-anim);
  }

  .uploads-0 .upload audio {
    transform: scale(0.8);
  }

  .uploads-0 .upload p {
    background-color: rgba(0, 0, 0, 0.125);
    border-radius: var(--main-radius);
    padding: 0.5rem;
  }

  .uploads-1 .upload {
    width: var(--tile-width);
    height: var(--tile-height);
  }

  .upload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
  }

  .glow {
    animation: glow 1s infinite alternate;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 40px rgba(255, 0, 89, 0.9);
      transform: scale(1);
    }

    100% {
      box-shadow: 0 0 40px rgb(0, 179, 255);
      transform: scale(1.1);
    }
  }
</style>

<script>
  fetch("/api/upload/report").then((res) => res.json()).then((data) => {
    let cc = 0;
    for (const i of data.report) {
      for (const j of i) {
        const upload = document.createElement('div');
        upload.className = 'upload';
        upload.id = `upload-${cc}`;
        upload.dataset.name = j;
        if (cc == 1) {
          const img = new Image();
            img.loading = 'lazy';
            img.decoding = "async";
            img.src = '/icons/' + encodeURIComponent(j);
            upload.appendChild(img);
            universal.createTooltipFor(upload, j);

        } else {
          upload.innerHTML += `<p>${universal.cleanHTML(j)}</p>`;
          upload.innerHTML += `<audio preload="none" controls><source src="/sounds/${encodeURIComponent(j)}" type="audio/mpeg"></audio>`;
        }
        document.querySelector('.uploads-' + cc).appendChild(upload);
      }
      cc++;
    }
    if (universal._libraryOnpaint) universal._libraryOnpaint();
  })
  if (universal._libraryOnload) universal._libraryOnload();
</script>