<h1 class="settings-section-title">Marketplace <span><img src="/common/icons/marketplace.svg" width="50"
            height="50"></span></h1>
<center>
    <p>Welcome to the Freedeck Marketplace. Here you can download plugins to add even more functionality to your
        Freedeck.</p>
</center>
<button onclick="universal.mkp_addRepo();">
    Add Repository
</button>
<h2 class="message">Loading Marketplace...</h2>
<p>Repositories</p>
<ul class="repositories"></ul>
<div class="marketplace">
    <p>Loading Marketplace...</p>
</div>

<style>
    .disabledable {
        display: flex;
    }

    .repositories {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .repositories li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        color: var(--modal-item-text);
        border: 1px solid #000;
        border-radius: var(--main-radius);
        margin: 0.5rem 0;
        gap: 1rem;
        min-width: 150px;
        text-overflow: ellipsis;

        background: var(--modal-item-bg);
        background-size: var(--modal-item-bg-size);
        animation: var(--modal-item-bg-anim);
    }

    .repositories li button {
        height: 3rem;
        min-height: 3rem;
    }

    .plugin-ifo {
        background: rgba(0, 0, 0, 0.25);
        padding: 0.5rem;
        border-radius: var(--main-radius);
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        color: var(--modal-item-text);
        border: 1px solid #000;
        border-radius: var(--main-radius);
        margin: 0.5rem 0;
        gap: 1rem;
        width: 200px;
        text-overflow: ellipsis;

        background: var(--modal-item-bg);
        background-size: var(--modal-item-bg-size);
        animation: var(--modal-item-bg-anim);
    }

    .item button {
        width: 100%;
    }

    .marketplace {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .special-lineheight {
        gap: 0;
    }

    .special-lineheight h1 {
        height: 0.5em;
    }
</style>

<script type="module">
    if (document.querySelector('#add-repo')) {
        document.querySelector('#add-repo').remove();
    }
    const dialog = universal.UI.makeGenericModal("Add Repository", "Enter the information for the repository.", [], true, `
        <small class="add-msg"></small>
        <details>
            <summary>Presets</summary>
            <div class="flex-wrap-r">
                <button class="repo-preset" data-repo='{"t":"freedeck.app","y":"new","u":"https://releases.freedeck.app/index.json"}'>Official Repository</button>
                <button class="repo-preset" data-repo='{"t":"FreedeckEx","u":"https://freedeckex.moonprod.me/manifest.json","y":"new"}'>FreedeckEx Repository</button>
            </div>
            <small>Want to add your own repository? <a href="https://wiki.freedeck.app/marketplace/custom_repo" target="_blank">Learn how</a></small>
        </details>
        <label for="title">Title</label><input type="text" id="title" placeholder="freedeck.app">
        <label for="url">URL</label><input type="text" id="url" placeholder="https://releases.freedeck.app/index.json">
        <label for="mktr_type">Type</label>
        <select id="mktr_type" value="new">
            <option value="new" selected>Marketplace V3 (.json)</option>    
            <option value="legacy">Old Manifest Type (.fdr.txt)</option>    
        </select>
        <br>
        <div class="flex-wrap-r space-evenly">
        <button class="tint-green" id="submit">Add</button>
        </div>
    `, true);
    dialog.modal.id = "add-repo";
    dialog.forceHide();
    const dialogC = dialog.content;
    dialogC.style.alignItems = 'start';
    document.body.appendChild(dialog.modal)

    const loadRepo = (repo, isUnofficial = false) => {
        document.querySelector('.message').innerHTML = 'Fetching Marketplace repository: ' + repo.title;
        const li = document.createElement('li');
        const btn = document.createElement("button");
        btn.innerText = "Remove";
        li.setAttribute('hovereffect', 'yes');
        li.style.cursor = 'default';
        if (!isUnofficial) {
            li.style.background = 'var(--main-bg)';
            li.style.backgroundSize = 'var(--main-bg-size)';
            li.style.animation = 'error-bg 5s linear infinite';
        }
        if (isUnofficial) li.innerText += "(!) ";
        li.innerText += repo.title;
        li.innerHTML += " &#10148; ";
        if (isUnofficial) {
            btn.onclick = () => {
                universal.repositoryManager.unofficial = universal.repositoryManager.unofficial.filter((r) => {
                    return r != repo;
                });
                universal.save('repos.community', JSON.stringify(universal.repositoryManager.unofficial));
                document.querySelector('.repositories').removeChild(li);
                loadRepos();
            };
        }

        if (repo.type == 'legacy' || !repo.type) {
            li.innerText += universal.cleanHTML(repo.who);
            if (isUnofficial) li.appendChild(btn);

            legacyFillRepo(repo.link, repo, isUnofficial);
        }


        if (repo.type == 'v3') {
            universal.repositoryManager.getV3Repository(repo).then((data) => {
                if (data.err) {
                    li.innerText += " " + data.msg;
                    if (isUnofficial) li.appendChild(btn);
                    return;
                }
                li.innerText += " " + universal.cleanHTML(data.title);
                if (isUnofficial) li.appendChild(btn);
                data.plugins.forEach((plugin) => {
                    if (plugin.visible && plugin.visible == 'false') return;
                    const req = plugin;
                    req.id = req.id.toLowerCase();
                    const li = document.createElement('div');
                    li.setAttribute('hovereffect', 'yes');
                    li.style.cursor = 'default';
                    li.className = 'item';
                    const officialTag = document.createElement('img');
                    officialTag.src = '/common/icons/official.svg';
                    officialTag.style.width = '8rem';
                    const name = document.createElement('div');
                    name.innerText += plugin.title;
                    name.innerHTML += ' &bull; by ';
                    name.innerText += req.author;
                    name.style.fontWeight = 'bold';
                    li.appendChild(name);
                    const version = document.createElement('div');
                    version.innerText = 'v' + req.version;
                    li.appendChild(version);
                    const desc = document.createElement('div');
                    desc.innerText = req.description;
                    desc.classList.add("plugin-ifo")
                    li.appendChild(desc);
                    const rl = document.createElement('div');
                    rl.innerText = "From " + repo.title;
                    li.appendChild(rl);
                    const file = document.createElement('button');
                    file.dataset.HandoffUrl = 'freedeck://download/' + req.id + '/' + encodeURIComponent(req.download) + '/' + encodeURIComponent(req.description) + '/' + encodeURIComponent(repo.title);
                    file.onclick = () => {
                        if (req.message) {
                            // create a yes/no modal
                            let str = "install";
                            if (universal.plugins[req.id]) {
                                let compareVersionOutput = universal.compareVersions(universal.plugins[req.id].version, req.version);
                                if (compareVersionOutput == -1) str = "update";
                                if (compareVersionOutput == 1) str = "... downgrade? You shouldn't be seeing this, but";
                            }
                            window.showYesNo("Before you " + str + " " + req.title + "...", req.message, (yes) => {
                                window.location.href = file.dataset.HandoffUrl;
                                universal.uiSounds.playSound('step_2');
                            }, () => { });
                        } else {
                            window.location.href = file.dataset.HandoffUrl;
                            universal.uiSounds.playSound('step_2');
                        }
                    };
                    file.innerText = 'Download';
                    if (universal.plugins[req.id]) {
                        file.innerText = 'Installed';
                        file.style.backgroundColor = 'var(--marketplace-plugin-installed)';
                        if (!universal.plugins[req.id].version) universal.plugins[req.id].version = '1.0.0';
                        else {
                            let compareVersionOutput = universal.compareVersions(universal.plugins[req.id].version, req.version);
                            if (compareVersionOutput == -1) {
                                file.innerText = 'Update';
                                file.dataset.HandoffUrl = file.dataset.HandoffUrl.replace('freedeck://download', 'freedeck://update') + "/" + encodeURIComponent(universal.plugins[req.id].version) + "/" + encodeURIComponent(req.version);
                                file.style.backgroundColor = 'var(--marketplace-plugin-updatable)';
                            } else if (compareVersionOutput == 0) {
                                file.innerText = 'Up to date';
                                file.style.backgroundColor = 'var(--marketplace-plugin-no-updates)';
                                file.onclick = () => { };
                            } else if (compareVersionOutput == 1) {
                                file.innerText = 'You have a newer version';
                                file.style.backgroundColor = 'var(--marketplace-plugin-installed)';
                                file.onclick = () => { };
                            }
                        }
                    };
                    li.appendChild(file);
                    if (universal.repositoryManager.official.find((r) => r === repo)) {
                        if (!plugin.unofficial || plugin.unofficial !== 'true') {
                            li.appendChild(officialTag);
                        }
                    }
                    document.querySelector('.marketplace').appendChild(li);
                });
            })
        }

        document.querySelector('.repositories').appendChild(li);

        document.querySelector('.message').innerHTML = '';
    };

    function legacyFillRepo(url, repo, isUnofficial = false) {
        universal.repositoryManager.getLegacyRepository(url).then((plugins) => {
            plugins.forEach((plugin) => {
                const req = plugin;
                const li = document.createElement('div');
                li.setAttribute('hovereffect', 'yes');
                li.style.cursor = 'default';
                li.className = 'item';
                const name = document.createElement('div');
                name.innerText = isUnofficial ? '(!) ' + req.name : req.name;
                name.innerHTML += ' &bull; by ';
                name.innerText += req.author;
                name.style.fontWeight = 'bold';
                li.appendChild(name);
                const version = document.createElement('div');
                version.innerText = 'v' + req.version;
                li.appendChild(version);
                const desc = document.createElement('div');
                desc.innerText = req.description;
                desc.classList.add("plugin-ifo")
                li.appendChild(desc);
                const rl = document.createElement('div');
                rl.innerText = "From " + repo.title;
                li.appendChild(rl);
                const file = document.createElement('button');
                file.dataset.HandoffUrl = 'freedeck://download/' + req.id + '/' + encodeURIComponent(req.file) + '/' + encodeURIComponent(req.description) + '/' + encodeURIComponent(repo.title);
                file.onclick = () => {
                    window.location.href = file.dataset.HandoffUrl;
                    universal.uiSounds.playSound('int_confirm');
                };
                file.innerText = 'Download';
                if (universal.plugins[req.id]) {
                    file.innerText = 'Installed';
                    file.style.backgroundColor = 'var(--marketplace-plugin-installed)';
                    if (!universal.plugins[req.id].version) universal.plugins[req.id].version = '1.0.0';
                    if (universal.plugins[req.id].version != req.version) {
                        file.innerText = 'Update';
                        file.dataset.HandoffUrl = file.dataset.HandoffUrl.replace('freedeck://download', 'freedeck://update') + "/" + encodeURIComponent(universal.plugins[req.id].version) + "/" + encodeURIComponent(req.version);
                        file.style.backgroundColor = 'var(--marketplace-plugin-updatable)';
                    } else
                        if (universal.plugins[req.id].version == req.version) {
                            file.innerText = 'Up to date';
                            file.style.backgroundColor = 'var(--marketplace-plugin-no-updates)';
                            file.onclick = () => { };
                        } else {
                            file.onclick = () => { };
                        }
                };
                li.appendChild(file);
                document.querySelector('.marketplace').appendChild(li);
            });
        }).catch(err => {
            const cnt = document.createElement("div");
            cnt.classList.add("item");
            const txt = document.createElement("h1");
            txt.innerHTML = `${repo.title}`;
            const er = document.createElement("p");
            er.classList.add("plugin-ifo");
            er.innerHTML = err.msg || err.toString() || err || "An error occurred while fetching the repository.";
            if (err.toString().includes("Failed to fetch"))
                er.innerHTML += `<br>(Could not reach ${repo.link}, is the internet down?)`;
            cnt.appendChild(txt);
            cnt.appendChild(er);
            document.querySelector(".marketplace").appendChild(cnt);
        })
    }


    const loadRepos = () => {
        document.querySelector('.repositories').innerHTML = '';
        document.querySelector('.marketplace').innerHTML = '';
        universal.repositoryManager.official.forEach((repo) => {
            loadRepo(repo);
        });

        universal.repositoryManager.unofficial.forEach((repo) => {
            loadRepo(repo, true);
        });
    };
    loadRepos();
    function addRepo() {
        universal.uiSounds.playSound('int_prompt');
        dialog.content.querySelector("#title").value = "";
        dialog.content.querySelector("#url").value = "";
        dialog.content.querySelector("#mktr_type").value = "";
        dialog.content.querySelector("#submit").disabled = false;
        dialog.content.querySelector("#submit").innerText = "Add";
        dialog.content.querySelector('.add-msg').innerText = '';
        dialog.show();

        document.querySelectorAll('.repo-preset').forEach((ele) => {
            ele.onclick = () => {
                const data = JSON.parse(ele.dataset.repo);
                document.querySelector('#title').value = data.t;
                document.querySelector('#url').value = data.u;
                document.querySelector('#mktr_type').value = data.y;
            }
        });
        const submit = document.querySelector('#submit');
        const selected = document.querySelector('#mktr_type');
        dialog.content.querySelector('#submit').onclick = () => {
            submit.disabled = true;

            submit.innerText = "Downloading content...";

            const title = dialog.content.querySelector('#title').value;
            const url = dialog.content.querySelector('#url').value;

            if (url == "https://freedeck.app/_fd/repository.php") {
                document.querySelector('.add-msg').innerText = 'The old repository is being phased out! No need to add it.';
                submit.disabled = false;
                submit.innerText = "Add";
                return;
            }

            document.querySelector('.add-msg').innerText = 'Fetching repository from ' + url + '...';

            fetch(url, { method: 'GET' }).then(res => {
                if (res.status != 200) {
                    document.querySelector('.add-msg').innerText = 'Failed to fetch repository from ' + url + '. Is the URL correct?';
                    submit.disabled = false;
                    submit.innerText = "Add";
                    return;
                }
                if (selected.selectedIndex == 1) {
                    return res.text();
                } else {
                    return res.json();
                }
            }).then(data => {
                if (selected.selectedIndex == 1) {
                    const desc = data.split('\n')[0]
                    let curr = [];
                    if (universal.load('repos.community') != 'ée') curr = JSON.parse(universal.load('repos.community'))
                    curr.push({ title, who: desc, link: url })
                    universal.save('repos.community', JSON.stringify(curr))
                    dialog.close();
                    universal.repositoryManager.unofficial = curr;
                    loadRepos();
                } else {
                    const options = [];
                    for (const channelKey in data.channels) {
                        const channel = data.channels[channelKey];
                        if (channel.type != 'repository' && channel.type != 'repository_external') continue;
                        options.push({ added: Date.now(), type: "legacy", id: channelKey, display: `${channel.title} (${channelKey})` });
                    }
                    const mod = selectModal({
                        title: "Repository Channel",
                        message: "Please select the channel of the repository you are adding.",
                        options
                    }, ({ value }) => {
                        if (value.id == "main" && url == "https://releases.freedeck.app/index.json") {
                            document.querySelector('.add-msg').innerText = 'You can\'t re-add the main repository!';
                            submit.disabled = false;
                            submit.innerText = "Add";
                            return;
                        }
                        const curr = JSON.parse(universal.load('repos.community'))
                        const chn = value.id;
                        curr.push({ added: Date.now(), type: "v3", title, url: url, channel: chn })
                        universal.save('repos.community', JSON.stringify(curr))
                        universal.repositoryManager.unofficial = curr;
                        loadRepos();
                        mod.close();
                        dialog.hide();
                    }, submit)
                }
            }).catch(err => {
                document.querySelector('.add-msg').innerHTML = 'Failed to fetch repository from ' + url + '.<br>' + err;
                if (err.toString().includes("Failed to fetch"))
                    document.querySelector('.add-msg').innerHTML += `<br>(Could not reach site, is the internet down?)`;
                submit.disabled = false;
                submit.innerText = "Add";
            });
        }
    }

    function selectModal(opt, cb, submit) {
        const modal = showPick(opt.title, opt.options, cb, opt.message);
        return modal;
    }

    universal.mkp_addRepo = addRepo;
    export default addRepo;
</script>