<h1 class="settings-section-title"><span data-i18n-key="settings.title">Settings</span> <span><img src="/common/icons/settings.svg" width="50" height="50"></span>
</h1>
<details>
    <summary class="settings-section-title">
        <span data-i18n-key="settings.sections.style">Style</span> <span><img src="/common/icons/style.svg" width="50" height="50"></span>
    </summary>
    <br>
    <div class="experiments">
        <div class="experiment">
            <label for="compact" data-i18n-key="settings.sections.style.compact">Compact Mode</label>
            <input type="checkbox" id="compact" />
        </div>
        <div class="experiment">
            <label for="scroll-long-text" data-i18n-key="settings.sections.style.scroll">Scroll Long Text</label>
            <input type="checkbox" id="scroll-long-text" />
        </div>
        <div class="experiment">
            <label for="fill-tiles" data-i18n-key="settings.sections.style.fill">Fill Tiles</label>
            <input type="checkbox" id="fill-tiles" />
        </div>
    </div>
    <br>
    <h2 class="flex-wrap-r alc"><span data-i18n-key="settings.sections.style.themes">Themes</span> <span><img src="/common/icons/themes.svg" width="50" height="50"></span></h2>
    <div class="themelist"></div>
</details>
<br style="display:none;">
<details style="display:none;" data-note="THIS IS SUPER SUPER SUPER BUGGY.">
    <summary class="settings-section-title">
        <span><span data-i18n-key="settings.sections.language">Language </span>&nbsp;<span class="tag-beta">ALPHA</span></span><span><img src="/common/icons/language.svg" width="50" height="50"></span>
    </summary>
    <br>
    <p id="clang">Loading...</p>
    <div id="language-list"></div>
</details>
<br>
<details>
    <summary class="settings-section-title">
        <span data-i18n-key="settings.sections.plugins">Plugins</span> <span><img src="/common/icons/t_plugin.svg" width="50" height="50"></span>
    </summary>
    <br>
    <div class="experiments">
        <ul id="actl" class="btnlist"></ul>
    </div>
    <button id="upd" data-i18n-key="settings.sections.plugins.reload_all">Reload All Plugins</button>
        <div class="flex-wrap">
            <h2 data-i18n-key="settings.sections.plugins.disabled.title">Disabled Plugins</h2>
            <div id="disbl-list" class="row"></div>
        </div>
    <details id="tile-prev">
        <summary><strong data-i18n-key="settings.sections.plugins.tile_previews">Tile Previews</strong></summary>
        <div class="btns"></div>
    </details>
</details>
<br>
<details>
    <summary class="settings-section-title">
        <span data-i18n-key="settings.sections.audio_devices">Audio Devices</span> <span><img src="/common/icons/audio.svg" width="50" height="50"></span>
    </summary>
    <p data-i18n-key="settings.sections.audio_devices.monitor">Monitor Devices</p>
    <div class="monitor-devices audio-device-picker"></div>
    <p data-i18n-key="settings.sections.audio_devices.vb">VB-Cables</p>
    <div class="vb-cables audio-device-picker"></div>
</details>
<br>
<details>
    <summary class="settings-section-title">
        <span data-i18n-key="settings.sections.general">General</span> <span><img src="/common/icons/settings.svg" width="50" height="50"></span>
    </summary>
    <div class="experiments">
        <div class="experiment">
            <label for="no_ask_to_delete" data-i18n-key="settings.sections.general.dont_ask">Don't ask to delete Tiles</label>
            <input type="checkbox" id="no_ask_to_delete" />
        </div>
        <div class="experiment">
            <label for="connect-tab" data-i18n-key="settings.sections.general.fdc_tab">Show FDConnect as a tab</label>
            <input type="checkbox" id="connect-tab" />
        </div>
        <div class="experiment">
            <label for="uis" data-i18n-key="settings.sections.general.ui_sounds">UI Sounds</label>
            <input type="checkbox" id="uis" />
        </div>
        <div class="experiment">
            <label for="cpm"><span data-i18n-key="settings.sections.general.center_mode">Center Mode</span> <span class="tag-beta">BETA</span></label>
            <input type="checkbox" id="cpm" />
        </div>
        <div class="experiment">
            <label for="notl"><span data-i18n-key="settings.sections.general.notification_log">Notification Log</span></label>
            <input type="checkbox" id="notl" />
        </div>
    </div>
</details>
<br>
<details>
    <summary class="settings-section-title">
        <span data-i18n-key="settings.sections.experiments">Experiments</span> <span><img src="/common/icons/experi.svg" width="50" height="50"></span>
    </summary>
    <div class="experiments">
        <div class="experiment">
            <label for="blvs">Skip Splash Animation <span class="tag-beta">BETA</span></label>
            <input type="checkbox" id="blvs" />
        </div>
        <div class="experiment">
            <label for="nbik">No preset keys (Stop All,Reload,Logo) <span class="tag-beta">BETA</span></label>
            <input type="checkbox" id="nbik" />
        </div>
        <div class="experiment">
            <label for="swc">Show Recompile as a Sidebar tab</label>
            <input type="checkbox" id="swc" />
        </div>
        <div class="experiment">
            <label for="apc">Animate Page Changes <span class="tag-beta">BAD</span></label>
            <input type="checkbox" id="apc" />
        </div>
    </div>
</details>
<br class="soundpack-br">
<details class="experiment-exist soundpack">
    <summary class="settings-section-title">
        <span data-i18n-key="settings.sections.uis">UI Sounds</span> <span><img src="/common/icons/uisounds.svg" width="50" height="50"></span>
    </summary>
    <div>
        <h4 data-i18n-key="settings.sections.uis.soundpacks">Soundpacks</h4>
        <ul class="soundpacks"></ul>
        <h2 data-i18n-key="settings.sections.uis.soundpacks.current">Current Soundpack</h2>
        <div class="experiment-exist">
            <h3 id="soundpack-title">Soundpack</h3>
            <span>(<span id="soundpack-id">id.soundpack</span>)
                v<span id="soundpack-version">0.0.0</span> by
                <span id="soundpack-author">somebody</span></span>
        </div>
        <ul class="uisounds"></ul>
    </div>
</details>
<br>
<details>
    <summary class="settings-section-title">
        <span data-i18n-key="settings.sections.bug">Bug Report</span> <span><img src="/common/icons/bugs.svg" width="50" height="50"></span>
    </summary>
    <textarea name="bgrep" id="bgrep" data-i18n-key="settings.sections.bug.request_generate">Click "Generate Report"</textarea>
    <p id="hostname">Your hostname here</p>
    <br>
    <button id="genr" data-i18n-key="settings.sections.bug.generate">Generate Report</button>
    <details>
        <summary data-i18n-key="settings.sections.bug.report_reader">
            Report Reader
        </summary>
        <textarea name="input-bgrep" id="input-bgrep" class="input-bgrep"></textarea>
        <button id="read-bgrep" data-i18n-key="settings.sections.bug.report_reader.read">Read Report</button>
        <div class="report-details">

        </div>
    </details>
</details>
<style>
    .disabledable,
    #disbl-list {
        display: flex;
        gap: 0.5rem;
    }

    .btns {
        display: flex;
        gap: 0.5rem;
        width: 100%;
        flex-wrap: wrap;
    }

    center ul {
        list-style-type: none;
        padding: 0;
        border-radius: var(--main-radius);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .btnlist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .btnlist li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        color: var(--modal-item-text);
        border: 1px solid #000;
        border-radius: var(--main-radius);
        margin: 0.5rem 0;
        gap: 0.25rem;
        min-width: 150px;
        height: max-content;
        text-overflow: ellipsis;

        background: var(--modal-item-bg);
        background-size: var(--modal-item-bg-size);
        animation: var(--modal-item-bg-anim);
    }

    .audio-device-picker {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.25rem;
        background-color: rgba(0, 0, 0, 0.25);
        padding: 5px;
        border-radius: var(--main-radius);
    }

    .audio-device {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.25rem;
        border-radius: var(--main-radius);
        background-color: rgba(0, 0, 0, 0.25);
    }

    details>summary::marker {
        display: none;
        content: "";
    }

    details>summary:hover {
        cursor: pointer;
    }

    .experiments {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .experiment {
        display: flex;
        background: var(--modal-item-bg);
        background-size: var(--modal-item-bg-size);
        animation: var(--modal-item-bg-anim);
        padding: 0.65rem;
        border-radius: var(--main-radius);
    }

    .experiment input {
        width: 50%;
    }

    .uisounds,
    .soundpacks {
        display: flex;
        flex-wrap: wrap;
        gap: .25rem;
    }

    .uisounds li,
    .soundpacks li {
        display: flex;
        gap: .25rem;
        background: var(--modal-item-bg);
        background-size: var(--modal-item-bg-size);
        animation: var(--modal-item-bg-anim);
        padding: .5rem;
        border-radius: var(--main-radius);
    }

    .experiment-exist h3 {
        margin: 0;
    }

    .experiment-exist {
        background-color: rgba(0, 0, 0, 0.25);
        padding: 5px;
        border-radius: var(--main-radius);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .cti {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: calc(50% - 50vw); 
        transform: translateX(4%);
        background-color: rgba(0, 0, 0, 0.25);
        width: max-content;
        padding: 5px;
        border-radius: var(--main-radius) var(--main-radius) 0 0;

    }

    .ctxl,
    .flags {
        display: flex;
        flex-wrap: wrap;
    }
</style>
<br>
<div class="settings"></div>
<details>
    <summary class="settings-section-title">
        Developer Tools <span><img src="/common/icons/dev.svg" width="50" height="50"></span>
    </summary>
    <div class="flex-wrap-r">
        <button onclick="universal.remove('thanks');window.location.reload()">
            Show latest changelog (Reloads)
        </button>
        <button onclick="window._makeThanks(true)">
            Show current changelog
        </button>
        <button onclick="universal.showBootLog()">
            Show boot log
        </button>
        <button onclick="universal.sendToast('This is a test', 'Settings')">
            Test Notification
        </button>
        <button onclick="universal.send(universal.events.default.recompile)">
            Ask server to recompile Webpack bundles
        </button>
    </div>
    <br>
    <details>
        <summary>
            freedeck:// URI Utilities
        </summary>
        <p>Prefix is freedeck://COMMAND/ARGS</p>
        <div class="flex-wrap-r">
            <button onclick="window.location.href='freedeck://startup'">
                startup
            </button>
            <button onclick="window.location.href='freedeck://show'">
                show
            </button>
            <button onclick="window.location.href='freedeck://hide'">
                hide
            </button>
            <button onclick="window.location.href='freedeck://show/front'">
                show/front
            </button>
            <button onclick="window.location.href='freedeck://native_open'">
                native_open
            </button>
            <button onclick="window.location.href='freedeck://exit'">
                exit
            </button>
        </div>
        <h3>App Utilities - Plugin Management</h3>
        <div class="flex-wrap-r">
            <div>
                <h3>Download Flow</h3>
                <p>://download/ID/URL/DESCRIPTION/REPO_TITLE</p>
            </div>
            <br>
            <button onclick="window.location.href='freedeck://download/ID/URL/DESCRIPTION/REPO_TITLE'">
                Download Flow
            </button>
            <br>
            <div>
                <h3>Update Flow</h3>
                <p>://update/ID/URL/DESCRIPTION/REPO_TITLE/FROM_V0/TO_V1</p>
            </div>
            <br>
            <button onclick="window.location.href='freedeck://update/ID/URL/DESCRIPTION/REPO_TITLE/FROM_V0/TO_V1'">
                Update Flow
            </button>
        </div>
    </details>
    <br>
    <strong><a href="//github.com/ia74/contextual" target="_blank">Contextual</a></strong>
    <br>
    <div class="ctxl"></div>
    <p id="ctx"></p>
    <h3>Be warned, you can reset your data from here. Tile configuration is NOT affected.</h3>
    <details>
        <summary>Local Storage Configuration</summary>
        <div class="ls-reader">

        </div>
    </details>
    <div>
        <button id="fsw">Force setup-wizard</button>
        <details>
            <summary>Erase ALL LocalStorage data</summary>
            <button id="erals">ERASE! (NO UNDOING, WILL HAPPEN ON CLICK.)</button>
        </details>
    </div>
</details>
<div class="cti">
    <h1>Freedeck</h1>
    <img src="/common/icons/fd.png" alt="Freedeck Logo" width="75" height="75">
    <p><span data-i18n-key="settings.footer.by">is a project by</span> <a href="https://aidens.dev" target="_blank">ia74 / Aiden S.</a></p>
</div>
<center>
    <h2 class="version"></h2>
</center>
<br><br>
<!-- <h2>This is the bottom of the Settings menu.</h2> -->
<script type="module">
    import "/app/settingsThemes.js";

    import {locales, setLocale, translationKey} from "/app/shared/localization.js"
    document.querySelector("#clang").innerText = "Current Language: " + locales[universal.load("locale")]
    Object.keys(locales).forEach((locale) => {
        const li = document.createElement("li");
        li.innerText = locales[locale];
        li.onclick = () => {
            setLocale(locale);
            window.location.reload();
        };
        document.querySelector("#language-list").appendChild(li);
    });

    loadThemeListing();
    document.querySelector("#hostname").innerText = "Hostname: " + universal._information.hostname;

    const seen = {};

    Object.keys(universal.plugins).forEach((plugin) => {
        const req = universal.plugins[plugin];
        const li = document.createElement('li');
        li.setAttribute('hovereffect', 'yes');
        li.style.cursor = 'default';
        if (seen[req.name]) return;
        seen[req.name] = true;

        const nameEle = document.createElement('h3');
        nameEle.innerText = req.name;
        li.appendChild(nameEle);
        const versionEle = document.createElement('p');
        versionEle.innerText = req.version ? 'v' + req.version : '';
        li.appendChild(versionEle);
        const authorEle = document.createElement('p');
        authorEle.innerText = 'by ' + req.author;
        li.appendChild(authorEle);

        if(req.popout) {
            const popout = document.createElement('details');
            popout.innerHTML = `<summary>Open</summary><div class='popout'>${req.popout}</div>`;
            li.appendChild(popout);
        }

        const actionContainer = document.createElement('div');
        actionContainer.classList.add('flex-wrap-r');
        actionContainer.style.justifyContent = 'space-between';

        const a = document.createElement('button');
        a.innerText = 'Disable';
        a.onclick = () => {
            universal.uiSounds.playSound('int_confirm');
            window.showPick('Are you sure you want to disable ' + req.name + '?', [{ name: 'Yes', value: true }, { name: 'No', value: false }], ({modal, value}) => {
                if (value.value == true) {
                    universal.send(universal.events.default.disable_plugin, req.id);
                }
            });
            // universal.send(universal.events.default.disable_plugin, req.id);
        };
        const b = document.createElement('button');
        b.innerText = 'Reload';
        b.onclick = () => {
            universal.uiSounds.playSound('int_yes');
            universal.send(universal.events.default.reload_single_plugin, req.id);
        };
        actionContainer.appendChild(a);
        actionContainer.appendChild(b);
        li.appendChild(actionContainer);
        if(req.intents && !req.intents.includes(0xf0)) {
            document.querySelector('#actl').appendChild(li);
        } else if(!req.intents) {
            document.querySelector('#actl').appendChild(li);
        }

        const types = req.types;
        types.forEach((dataObj) => {
            const tmpBtn = document.createElement('button');
            tmpBtn.innerText = dataObj.name + ': ' + dataObj.type;
            tmpBtn.onclick = (ev) => {
                universal.send(universal.events.keypress, { event: ev, btn: { uuid: 0, name: dataObj.name, type: dataObj.type } });
            };
            document.querySelector('.btns').appendChild(tmpBtn);
        });
    });

    universal._information.disabled.forEach((plugin) => {
        if (seen[plugin]) return;
        seen[plugin] = true;
        const a = document.createElement('button');
        a.innerText = 'Enable ' + plugin.split('.disabled')[0].split(".")[0];
        a.onclick = () => {
            console.log(plugin);
            universal.uiSounds.playSound('int_confirm');
            universal.send(universal.events.default.enable_plugin, plugin);
            if (!dialog.open) dialog.showModal();
            dialog.innerHTML = `<p>Enabling ${plugin.split('.disabled')[0]}!</p>`;
        };
        document.querySelector('#disbl-list').appendChild(a);
    });

    document.querySelector('#upd').onclick = () => {
        universal.uiSounds.playSound('int_yes');
        universal.send(universal.events.default.update_plugins);
        if (!dialog.open) dialog.showModal();
        dialog.innerHTML = `<p>Reloading plugins!</p>`;
    };
    const dialog = document.querySelector('dialog') || document.createElement('dialog');
    if (!document.querySelector('dialog')) document.body.appendChild(dialog);

    document.querySelector(".version").innerText = universal._information.version.human;

    async function getAudioOutputDevices(isCable = false) {
        const devices = await navigator.mediaDevices.enumerateDevices();
        const audioOutputs = devices
            .filter(
                (device) =>
                    device.kind === "audiooutput" &&
                    (isCable
                        ? device.label.includes("VB-Audio")
                        : !device.label.includes("VB-Audio")),
            )
            .map((device) => ({
                name: device.label || "Unknown Audio Output",
                value: device.deviceId,
            }));
        return audioOutputs;
    }
    const outs = await getAudioOutputDevices();
    const ins = await getAudioOutputDevices(true);
    const monitor = document.querySelector(".monitor-devices");
    const vbs = document.querySelector(".vb-cables");
    outs.forEach((out) => {
        const container = document.createElement("div");
        container.classList.add("audio-device");
        const input = document.createElement("input");
        input.type = "checkbox";
        input.name = "monitor";
        input.value = out.value;
        input.id = out.value;
        input.checked = universal.audioClient.sinkManager.hasSink(out.value);
        input.onchange = (e) => {
            let isChecked = e.target.checked;
            if (isChecked && !universal.audioClient.sinkManager.hasSink(out.value)) {
                universal.audioClient.sinkManager.addSink(universal.audioClient.sinkManager.types.monitor, out.value);
            } else if (!isChecked && universal.audioClient.sinkManager.hasSink(out.value)) {
                universal.audioClient.sinkManager.removeSink(out.value);
            }
        };
        const label = document.createElement("label");
        label.htmlFor = out.value;
        label.innerText = out.name;
        container.appendChild(label);
        container.appendChild(input);
        monitor.appendChild(container);
    });
    ins.forEach((out) => {
        const container = document.createElement("div");
        container.classList.add("audio-device");
        const input = document.createElement("input");
        input.type = "checkbox";
        input.name = "vb";
        input.value = out.value;
        input.id = out.value;
        input.checked = universal.audioClient.sinkManager.hasSink(out.value);
        input.onchange = (e) => {
            let isChecked = e.target.checked;
            if (isChecked && !universal.audioClient.sinkManager.hasSink(out.value)) {
                universal.audioClient.sinkManager.addSink(universal.audioClient.sinkManager.types.vbcable, out.value);
            } else if (!isChecked && universal.audioClient.sinkManager.hasSink(out.value)) {
                universal.audioClient.sinkManager.removeSink(out.value);
            }
        };
        const label = document.createElement("label");
        label.htmlFor = out.value;
        label.innerText = out.name;
        container.appendChild(label);
        container.appendChild(input);
        vbs.appendChild(container);
    });

    const details = document.querySelector(".ls-reader");
    appendDetails(details, localStorage, true);

    getElement("#fsw").onclick = () => {
        universal.save("has_setup", false);
        window.location.reload();
    }

    getElement("#genr").onclick = () => {
        const bgrep = getElement("#bgrep");
        const report = bgrep.value;
        bgrep.value = "Generating report...";
        const rep = universal.ExportReportData();
        bgrep.value = rep;
    }

    getElement("#read-bgrep").onclick = () => {
        const input = getElement("#input-bgrep");
        const report = input.value;
        const details = getElement(".report-details");
        details.innerHTML = "";
        const data = JSON.parse(report);
        appendDetails(details, data);
    }

    settings_makeToggleFlag("#swc", "recompile-tab", () => { universal.reloadRight() });
    settings_makeToggleFlag("#blvs", "skip-boot-animation");
    settings_makeToggleFlag("#notl", "notification-log");
    settings_makeToggleFlag("#no_ask_to_delete", "no_ask_to_delete")
    settings_makeToggleFlag("#connect-tab", "connect-tab", () => { universal.reloadRight() })

    settings_makeExternalStyleToggleFlag("#nbik", "nopreset")
    settings_makeExternalStyleToggleFlag("#apc", "animation")
    settings_makeExternalStyleToggleFlag("#cpm", "center")


    settings_makeExternalStyleToggleFlag("#compact", "compact", () => { universal.UI.reloadSounds() })
    settings_makeExternalStyleToggleFlag("#scroll-long-text", "scroll", () => { universal.UI.reloadSounds() })
    settings_makeExternalStyleToggleFlag("#fill-tiles", "fill", () => { universal.UI.reloadSounds() })


    settings_makeToggleFlag("#uis", "uiSounds", () => {
        document.querySelector(".soundpack").style.display = universal.flags.isEnabled("uiSounds")
            ? "block"
            : "none";
        document.querySelector(".soundpack-br").style.display = universal.flags.isEnabled("uiSounds")
            ? "block"
            : "none";
    });

    getElement("#erals").onclick = () => {
        localStorage.clear();
        universal.sendToast("Erased all LocalStorage data! Cleaning up...", "Settings: Developer Tools");
        window.location.reload();
    }

    document.querySelector(".soundpack").style.display = universal.flags.isEnabled("uiSounds")
        ? "block"
        : "none";
    document.querySelector(".soundpack-br").style.display = universal.flags.isEnabled("uiSounds")
        ? "block"
        : "none";
    document.querySelector("#soundpack-id").innerText =
        universal.uiSounds.info.id;
    document.querySelector("#soundpack-title").innerText =
        universal.uiSounds.info.name;
    document.querySelector("#soundpack-version").innerText =
        universal.uiSounds.info.version;
    document.querySelector("#soundpack-author").innerText =
        universal.uiSounds.info.author;

    function loadSounds() {
        const uis = document.querySelector(".uisounds");
        uis.innerHTML = "";
        console.log(universal.uiSounds.sounds);
        const uisounds = universal.uiSounds.sounds;
        Object.keys(uisounds).forEach((sound) => {
            const li = document.createElement("li");
            li.innerText = sound;
            li.onclick = () => {
                universal.uiSounds.playSound(sound);
            };
            uis.appendChild(li);
        });
    }

    universal._information.soundpacks.forEach((soundpack) => {
        const li = document.createElement("li");
        li.innerText = soundpack.split(".soundpack")[0];
        li.classList.add("soundpack");
        li.onclick = async () => {
            document.querySelector("#soundpack-id").innerText = "LOADING";
            document.querySelector("#soundpack-title").innerText = "LOADING";
            document.querySelector("#soundpack-version").innerText = "LOADING";
            document.querySelector("#soundpack-author").innerText = "LOADING";
            document.querySelectorAll(".soundpack").forEach((el) => {
                el.disabled = true;
            });
            const res = await fetch(
                "/common/sounds/" + soundpack + "/manifest.fdsp.json",
            );
            const data = await res.json();
            const info = data.info;
            universal.save("soundpack", info.id);
            universal.uiSounds.reload();
            universal.uiSounds.load(info.id).then(() => {
                loadSounds();
            });
            document.querySelector("#soundpack-id").innerText = info.id;
            document.querySelector("#soundpack-title").innerText = info.name;
            document.querySelector("#soundpack-version").innerText =
                info.version;
            document.querySelector("#soundpack-author").innerText = info.author;
            document.querySelectorAll(".soundpack").forEach((el) => {
                el.disabled = false;
            });
        };
        document.querySelector(".soundpacks").appendChild(li);
    });

    function setToExternalStyle(k, v) {
        universal.send(
            universal.events.default.config_changed,
            setToLocalCfg(k, v)
        );
    }

    function settings_makeToggleFlag(k, v, a = () => { }) {
        document.querySelector(k).checked = universal.flags.isEnabled(v);
        document.querySelector(k).onchange = (ev) => {
            universal.flags.toggle(v);
            a(ev);
        }
    }
    function settings_makeExternalStyleToggleFlag(k, v) {
        document.querySelector(k).checked = universal.lclCfg()[v] == true;

        document.querySelector(k).onchange = () => {
            setToExternalStyle(v, !(universal.lclCfg()[v] == true));
        };
    }

    function settingsView_createLSCheck(id, label, description, changed) {
        const a = "";
        settings_makeToggleFlag("#" + id, id, changed);
    }

    function appendDetails(parent, data, isUniversal = false) {
        Object.keys(data).forEach((key) => {
            const detail = document.createElement("details");
            const summary = document.createElement("summary");
            summary.innerText = key;
            if (isUniversal) {
            }
            detail.appendChild(summary);

            if (typeof data[key] === "object" && data[key] !== null) {
                appendDetails(detail, data[key]);
            } else {
                const p = document.createElement("p");
                p.innerText = data[key];
                if (isUniversal) p.innerText = data[key];
                detail.appendChild(p);
            }

            parent.appendChild(detail);
        });
    }

    function getElement(s) { return document.querySelector(s) }

    function settingsViewOpen(view, name) {
        const button = document.createElement("button");
        button.innerText = name;
        button.onclick = () => {
            universal.vopen(view);
        };
        return button;
    }

    document.querySelector("#ctx").innerText = JSON.stringify(universal.ctx);

    const _views = [
    ];
    for (const view of universal.ctx.views) {
        const button = settingsViewOpen(view, view);
        _views.push(button);
    }
    for (const view of _views) document.querySelector(".ctxl").appendChild(view);

    function setToLocalCfg(key, value) {
        const cfg = universal.lclCfg();
        cfg[key] = value;
        return cfg;
    }

    loadSounds();
</script>