:theme-meta {
	--name: "Black";
	--description: "Pure black, nice on the eyes.";
	--author: "Freedeck";
	--version: "1.0.0";
}

:root {
    --main-bg: black;
    
    --tile-bg: rgba(0, 0, 0, 0.5);
    --tile-border: 1px solid rgba(255, 255, 255, 0.5);
     
    --text-color: white;
    
    --modal-bg: #080808;
    --modal-color: white;
    
    --input-bg: #1a1a1a;

    --modal-item-bg: linear-gradient(105deg,rgba(0, 0, 0, 1) 0%, rgba(0, 25, 25, 1) 50%, rgba(0, 0, 0, 1) 100%);
    --modal-item-bg-size: 400% 400%;
    --modal-item-bg-anim: error-bg 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    --modal-item-text: white;
    --companion-left-sidebar-bg:rgba(0,0,0,0.5);
	--companion-right-sidebar-bg:rgba(0,0,0,0.5);

	--companion-left-sidebar-color:white;
	--companion-right-sidebar-color:white;

	--companion-sidebar-item-bg:rgba(0,0,0,0.5);
	--companion-sidebar-item-color:white;
}