:theme-meta {
	--name: "Gold";
	--description: "It's like a golden Freedeck! Except it is gold!";
	--author: "Freedeck";
	--version: "1.0.0";
}

:root {
	--main-bg:linear-gradient(45deg, rgba(255, 215, 59, 1) 0%, rgba(209, 173, 33, 1) 33%, rgba(255, 215, 59, 1) 66%, rgba(209, 173, 33, 1) 100%);
	
	--modal-bg:rgba(255, 190, 106, 1);
	--modal-color:black;

	--modal-item-bg:linear-gradient(45deg, rgba(255, 215, 59, 1) 0%, rgba(209, 173, 33, 1) 33%, rgba(255, 215, 59, 1) 66%, rgba(209, 173, 33, 1) 100%);
	--input-bg:rgba(255, 215, 59, 0.25);

	--companion-left-sidebar-bg: rgb(139, 118, 33);
	--companion-right-sidebar-bg: rgb(139, 118, 33);

	--companion-left-sidebar-color: white;
	--companion-right-sidebar-color: white;

	--companion-sidebar-item-bg: rgba(255, 215, 59, 0.25);
	--companion-sidebar-item-color: white;

	--tile-bg:rgba(163, 146, 77, 0.25);
	--tile-border: 2px solid rgba(0,0,0,0.125);
}