:theme-meta {
	--name: "Gruggly";
	--description: "The most Gruggly-est theme for Freedeck. (Pantone 448c)";
	--author: "Freedeck";
	--version: "1.0.0";
}

:root {
	--main-bg: #4A412A;
	
	--modal-bg: #4A412A;
	--modal-color:white;
	
	--input-bg: rgba(255, 215, 59, 0.25);
	
	--tile-bg:#4A412A;
	--tile-border: 2px solid rgba(0,0,0,0.125);
	
	--modal-item-bg: #5c4f30;

	--companion-left-sidebar-bg: #5c5137;
	--companion-right-sidebar-bg: #5c5137;

	--companion-left-sidebar-color: white;
	--companion-right-sidebar-color: white;

	--companion-sidebar-item-bg: #4A412A;
	--companion-sidebar-item-color: white;
}