:theme-meta {
	--name: "Outrageous Animations";
	--description: "The default theme with fun animations.";
	--author: "Freedeck";
	--version: "1.0.0";
	--showing: "false";
}

:root {
	--url: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE9uZBb7UQ3TGW3mez22CZNFxlJU21KNUEHg&s");
}

@keyframes modal_content_showing {
	from {
		transform: scale(0) rotate(0deg);
		opacity: 0;
	}
	to {
		transform: scale(1) rotate(360deg);
		opacity: 1;
	}
}

@keyframes modal_content_closing {
	from {
		transform: scale(1.5) rotate(0deg);
	}
	to {
		transform: scale(2) rotate(360deg);
	}
}

@keyframes view-in {
	from{
		left: 50%;
		width: 0;
		background-image: var(--url);
		background-size: cover;
		opacity: 0;
		transform: scale(2) perspective(500px) rotate3d(1, 0, 0, 90deg);
	}

	to {
			width: 100%;
			left: 0;
			background-image: var(--url);
			background-size: cover;
			opacity: 1;
			transform: scale(1) perspective(500px) rotate3d(1, 0, 0, 0deg);
	}
}

@keyframes view-out {
	from{
		left: 0;
		background-image: var(--url);
		background-size: cover;
		opacity: 1;
		transform: scale(1) perspective(500px) rotate3d(1, 0, 0, 0deg);
	}

	to {
			left: 50%;
			width: 0;
			background-image: var(--url);
			background-size: cover;
			opacity: 0;
			transform: scale(2) perspective(500px) rotate3d(1, 0, 0, 90deg);
		}
}

.sidebar {
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
}

@keyframes editor-pull-down {
	from{
			bottom: -100vh;
			transform: scale(2);
			filter: blur(50px);
			opacity: 0;
	}

	to {
			bottom: 0;
			transform: scale(1);
			filter: blur(0px);
			opacity: 1;
		}
}

@keyframes editor-pull-up {
	from{
			bottom: 0;
			transform: scale(1);
			filter: blur(0px);
			opacity: 1;
		}

	to {
			bottom: -100vh;
			transform: scale(2);
			filter: blur(50px);
			opacity: 0;
	}
}

@keyframes sidebar-slide-in {
	/* make it really exaggerated */
	from {
		width: 100%;
		opacity: 0;
		transform: scale(1.5);
	}
	to {
		width: -20%;
		left: 0;
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes sidebar-slide-out {
	/* make it really exaggerated */
	from {
		width: -20%;
		left: 0;
		opacity: 1;
		transform: scale(1);
	}
	to {
		width: 100%;
		opacity: 0;
		transform: scale(1.5);
	}
}

@keyframes general_crazy {
	from {
		transform: rotate(0deg) scale(1);
	}
	to {
		transform: rotate(360deg) scale(1.125);
	}
}

.button:hover,
.button:focus,
.button:active,
button:hover,
button:focus,
button:active {
	animation: general_crazy 0.25s ;
}