:theme-meta {
	--name: "Red";
	--description: "Make your Freedeck. red!";
	--author: "Freedeck";
	--version: "1.0.0";
}

:root {
    --red-gradient: linear-gradient(105deg, rgba(140, 0, 89, 1) 0%, rgba(140, 10, 0, 1) 33%, rgba(140, 50, 0, 1) 66%, rgba(140, 0, 89, 1) 100%);

    --main-bg: var(--red-gradient);
    
    --modal-bg: rgba(140, 10, 0, 1);
    --modal-color: white;

    --input-bg: rgba(140, 10, 0, 1);

    --modal-item-bg: var(--red-gradient);
    --modal-item-bg-size: 400% 400%;
    --modal-item-bg-anim: error-bg 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    --modal-item-text: white;

    --companion-left-sidebar-bg: rgba(120,25,25,0.5);
    --companion-right-sidebar-bg: rgba(120,25,25,0.5);

    --companion-left-sidebar-color: white;
    --companion-right-sidebar-color: white;

    --companion-sidebar-item-bg: rgba(120,25,25,0.5);
    --companion-sidebar-item-color: white;
}