:theme-meta {
	--name: "Soofle";
	--description: "Inspired by RealFakeSoof.";
	--author: "Freedeck";
	--version: "1.0.0";
}

:root {
	--main-bg: url(https://i.imgur.com/Zs7EmHy.gif);
	--main-bg-size: 100% 100%;
	
	--button-radius: 16px;
	--text-color: white;

	--modal-bg: hsla(354, 70%, 54%, 1);
	--modal-color:white;

	--tile-border:rgba(255,255,255, 0.75);
	--tile-bg: hsla(354, 70%, 54%, 0.5);

	--input-bg: hsla(354, 70%, 54%, 0.25);
	--input-color: rgba(255,255,255);

	--modal-item-bg: rgba(255,255,255,0.125);
	--modal-item-bg-size:400% 400%;
	--modal-item-bg-anim:error-bg 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
	--modal-item-text:white;

	--companion-left-sidebar-bg: rgba(0,0,0,0.4);
	--companion-right-sidebar-bg: hsla(354, 70%, 54%, 0.25);

	--companion-left-sidebar-color:white;
	--companion-right-sidebar-color:white;

	--companion-sidebar-item-bg: hsla(354, 70%, 54%, 0.25);
	--companion-sidebar-item-color:white;
}

body {
	animation: none;
}

body::before {
	content: "";
	filter: blur(6px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--main-bg);
	background-size: var(--main-bg-size);
	z-index: -1;
}